*{
	margin:0px;
	padding:0px;
	border:2px;
}

body {
	background-repeat: none;
	font-family: 'Berkshire Swash', cursive;
	background-color: #EAF0F1; 
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center; 
    font-size: 44px; 
    color: #2C3335;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 50%;
	right: 50%;
}

.btn {
	border: none;
	background: #EAF0F1;
	color: #2C3335; 
  	padding: 18px 32px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 26px;
	position: relative;
	display: flex;
	cursor: pointer;
	border-radius: none;
	font-family: 'Berkshire Swash', cursive;
}

.btn:hover {
  background: #2C3335;
  color: #EAF0F1;
  font-family: 'Berkshire Swash', cursive;
}

.footer {
  position: fixed;
  left: 10px;
  bottom: 5px;
  width: 100%;
  background-color: #2C3335;
  text-align: center;
  font-size: 15px;
  font-family: 'Scope One', serif;
  color: #EAF0F1; 
}

